body{
background-color:#CFC;
color:#505;
}
a:link{
 color:#67A;
}
a:hover{
 color:#79A;
}
a:active{
  color:#79A;
}
a:visited{
 color:#A7A;
}

.center_content_grey {
margin-left:10%;
margin-right:10%;
background-color:#303;
color:#FFF;
border:3px solid white;
}
.center_content_grey form{
margin-left:10%;
margin-right:10%;
}


.text_table {
margin-left:10%;
margin-right:10%;
background-color:#450045;
color:#CFC;
border:3px solid white;
border-collapse: collapse;
}
.text_table th{
padding-left:10px;
padding-right:10px;
background-color:#303;
color:#CFC;
border:3px solid white;
}
.text_table td{
padding-left:10px;
padding-right:10px;
background-color:#450045;
color:#FFF;
border:3px solid white;
}

.dropdown {
    float: right;
    padding:5px;
    margin-left:10px;
    margin-right:10px;
    border:3px solid #505;
}

.dropdown:hover {
	background-color:#303;
	color:#CFC;
	border:3px solid #FFF;
}

.dropdown .menu {
	position: relative;
	right:0px;
	float:left;
	margin:0px;
	padding:30px;
	visibility: hidden;
	display:none;
	background-color:#303;
	color:#CFC;
}
.dropdown:hover .menu {
	visibility: visible;
	display:block;
}
.dropdown:hover .menu {
	visibility: visible;
	display:block;
}
